In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\adity\Downloads\feedback123.csv")
df.head()

,Gender,Age,status,pass out,sboard,financial support,learning needs,10th grade,12th grade,CGPA,...,sem 2(MSc),sem 3 (MSc),attendance,hours per day,study motivation,extracurricular,study materials,mental health,using technology,peers
0,Male.,22,"Currently working., Student.",2024,State board of Maharashtra,Yes,No.,87.0,73.0,9.70,...,9.10,9.30,6,0.5,Exam cramming,Maybe,Yes,Balanced,Not comfortable at all,Pleasant
1,Female.,22,Student.,2024,State board of Maharashtra,Yes,No.,90.0,68.0,8.65,...,5.79,6.39,5,1.0,Exam cramming,Maybe,Yes,Balanced,Not comfortable at all,Pleasant
2,Female.,22,Student.,2024,State Board of Mumbai,Yes,No.,74.0,64.0,9.13,...,7.20,8.00,6,2.0,Consistent studying,Yes,No,Struggling,Not comfortable at all,Indifferent
3,Female.,22,Student.,2024,State board of Maharashtra,Yes,No.,93.0,84.0,9.00,...,8.90,9.10,6,1.0,Exam cramming,Yes,Yes,Struggling,comfortable,Pleasant
4,Female.,23,Student.,2024,State board of Maharashtra,Yes,No.,87.0,71.0,9.00,...,6.90,7.50,5,2.0,Consistent studying,Maybe,Yes,Balanced,comfortable,Pleasant

In [3]:
df.columns.values

array(['Gender', 'Age', 'status', 'pass out', ' sboard',
       'financial support', ' learning needs', '10th grade ',
       '12th grade ', 'CGPA', 'sem 1(MSc)', 'sem 2(MSc)', 'sem 3 (MSc) ',
       'attendance', 'hours per day ', 'study motivation',
       ' extracurricular ', ' study materials', 'mental health',
       'using technology', 'peers'], dtype=object)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             101 non-null    object
 1   Age                101 non-null    int64
 2   status             101 non-null    object
 3   pass out           101 non-null    int64
 4    sboard            101 non-null    object
 5   financial support  101 non-null    object
 6    learning needs    101 non-null    object
 7   10th grade         101 non-null    float64
 8   12th grade         101 non-null    float64
 9   CGPA               101 non-null    float64
 10  sem 1(MSc)         101 non-null    float64
 11  sem 2(MSc)         101 non-null    float64
 12  sem 3 (MSc)        101 non-null    float64
 13  attendance         101 non-null    int64
 14  hours per day      101 non-null    float64
 15  study motivation   101 non-null    object
 16   extracurricular   101 non-null    object
 17   study materials   101 non-null    object
 18  mental health      101 non-null    object
 19  using technology   101 non-null    object
 20  peers              101 non-null    object
dtypes: float64(7), int64(3), object(11)
memory usage: 16.7+ KB

In [5]:
df.describe()

,Age,pass out,10th grade,12th grade,CGPA,sem 1(MSc),sem 2(MSc),sem 3 (MSc),attendance,hours per day
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,23.584158,2023.376238,84.534059,68.716832,9.187228,7.378317,6.323564,6.013069,5.227723,2.024752
std,1.674917,1.047392,10.657728,11.768777,5.708314,6.287556,5.957078,3.013500,0.881830,0.922974
min,21.000000,2020.000000,9.000000,41.850000,5.830000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,22.000000,2023.000000,82.000000,61.000000,8.000000,6.000000,5.300000,5.400000,5.000000,1.000000
50%,24.000000,2023.000000,87.000000,68.000000,9.000000,7.000000,6.210000,7.200000,5.000000,2.000000
75%,25.000000,2024.000000,90.000000,78.000000,9.440000,8.210000,7.550000,8.000000,6.000000,3.000000
max,29.000000,2025.000000,95.200000,91.000000,65.000000,67.000000,59.000000,9.850000,6.000000,5.000000

In [6]:
df.isnull().sum()

Gender               0
Age                  0
status               0
pass out             0
 sboard              0
financial support    0
 learning needs      0
10th grade           0
12th grade           0
CGPA                 0
sem 1(MSc)           0
sem 2(MSc)           0
sem 3 (MSc)          0
attendance           0
hours per day        0
study motivation     0
 extracurricular     0
 study materials     0
mental health        0
using technology     0
peers                0
dtype: int64

In [7]:
df.drop(' sboard',axis=1, inplace= True)

In [8]:
df.drop('using technology',axis=1, inplace= True)

In [9]:
df.drop('10th grade ',axis=1, inplace=True)

In [10]:
df.drop('12th grade ',axis=1,inplace=True)

In [11]:
df.drop('pass out',axis=1,inplace=True)

In [12]:
df.columns

Index(['Gender', 'Age', 'status', 'financial support', ' learning needs',
       'CGPA', 'sem 1(MSc)', 'sem 2(MSc)', 'sem 3 (MSc) ', 'attendance',
       'hours per day ', 'study motivation', ' extracurricular ',
       ' study materials', 'mental health', 'peers'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             101 non-null    object
 1   Age                101 non-null    int64
 2   status             101 non-null    object
 3   financial support  101 non-null    object
 4    learning needs    101 non-null    object
 5   CGPA               101 non-null    float64
 6   sem 1(MSc)         101 non-null    float64
 7   sem 2(MSc)         101 non-null    float64
 8   sem 3 (MSc)        101 non-null    float64
 9   attendance         101 non-null    int64
 10  hours per day      101 non-null    float64
 11  study motivation   101 non-null    object
 12   extracurricular   101 non-null    object
 13   study materials   101 non-null    object
 14  mental health      101 non-null    object
 15  peers              101 non-null    object
dtypes: float64(5), int64(2), object(9)
memory usage: 12.8+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [15]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[['status']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['status']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = 'status')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [16]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[['Gender']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['Gender']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = 'Gender')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [17]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[['financial support']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['financial support']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = 'financial support')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [18]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[[' learning needs']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out([' learning needs']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = ' learning needs')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [19]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[['study motivation']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['study motivation']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = 'study motivation')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [20]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[[' extracurricular ']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out([' extracurricular ']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = ' extracurricular ')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [21]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[[' study materials']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out([' study materials']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = ' study materials')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[['mental health']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['mental health']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = 'mental health')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [23]:
encoder = OneHotEncoder(sparse=False).set_output(transform='pandas')
encoded_cols = encoder.fit_transform(df[['peers']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['peers']))
df = pd.concat([df, encoded_df], axis=1).drop(columns = 'peers')

C:\Users\adity\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age                                   101 non-null    int64
 1   CGPA                                  101 non-null    float64
 2   sem 1(MSc)                            101 non-null    float64
 3   sem 2(MSc)                            101 non-null    float64
 4   sem 3 (MSc)                           101 non-null    float64
 5   attendance                            101 non-null    int64
 6   hours per day                         101 non-null    float64
 7   status_Currently Working.             101 non-null    float64
 8   status_Currently working.             101 non-null    float64
 9   status_Currently working., Student.   101 non-null    float64
 10  status_Student.                       101 non-null    float64
 11  Gender_Female.                        101 non-null    float64
 12  Gender_Male.                          101 non-null    float64
 13  financial support_No                  101 non-null    float64
 14  financial support_Yes                 101 non-null    float64
 15   learning needs_No.                   101 non-null    float64
 16   learning needs_Yes.                  101 non-null    float64
 17  study motivation_Consistent studying  101 non-null    float64
 18  study motivation_Exam cramming        101 non-null    float64
 19   extracurricular _Maybe               101 non-null    float64
 20   extracurricular _No                  101 non-null    float64
 21   extracurricular _Yes                 101 non-null    float64
 22   study materials_No                   101 non-null    float64
 23   study materials_Yes                  101 non-null    float64
 24  mental health_Balanced                101 non-null    float64
 25  mental health_Struggling              101 non-null    float64
 26  peers_Indifferent                     101 non-null    float64
 27  peers_Pleasant                        101 non-null    float64
 28  peers_Unpleasant                      101 non-null    float64
dtypes: float64(27), int64(2)
memory usage: 23.0 KB

In [25]:
df.head()

,Age,CGPA,sem 1(MSc),sem 2(MSc),sem 3 (MSc),attendance,hours per day,status_Currently Working.,status_Currently working.,"status_Currently working., Student.",...,extracurricular _Maybe,extracurricular _No,extracurricular _Yes,study materials_No,study materials_Yes,mental health_Balanced,mental health_Struggling,peers_Indifferent,peers_Pleasant,peers_Unpleasant
0,22,9.70,9.50,9.10,9.30,6,0.5,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,22,8.65,6.07,5.79,6.39,5,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
2,22,9.13,7.50,7.20,8.00,6,2.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3,22,9.00,8.70,8.90,9.10,6,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,23,9.00,7.00,6.90,7.50,5,2.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

In [26]:
df.columns.values

array(['Age', 'CGPA', 'sem 1(MSc)', 'sem 2(MSc)', 'sem 3 (MSc) ',
       'attendance', 'hours per day ', 'status_Currently Working.',
       'status_Currently working.', 'status_Currently working., Student.',
       'status_Student.', 'Gender_Female.', 'Gender_Male.',
       'financial support_No', 'financial support_Yes',
       ' learning needs_No.', ' learning needs_Yes.',
       'study motivation_Consistent studying',
       'study motivation_Exam cramming', ' extracurricular _Maybe',
       ' extracurricular _No', ' extracurricular _Yes',
       ' study materials_No', ' study materials_Yes',
       'mental health_Balanced', 'mental health_Struggling',
       'peers_Indifferent ', 'peers_Pleasant', 'peers_Unpleasant'],
      dtype=object)

In [27]:
X = df[['Age', 'CGPA', 'sem 1(MSc)', 'sem 2(MSc)','attendance',
       'hours per day ', 'status_Currently working.',
       'status_Student.', 'Gender_Female.', 'Gender_Male.',
       'financial support_No', 'financial support_Yes', ' learning needs_No.',
       ' learning needs_Yes.', 'study motivation_Consistent studying',
       'study motivation_Exam cramming', ' extracurricular _Maybe',
       ' extracurricular _No', ' extracurricular _Yes', ' study materials_No',
       ' study materials_Yes', 'mental health_Balanced',
       'mental health_Struggling', 'peers_Indifferent ', 'peers_Pleasant',
       'peers_Unpleasant']]

y = df['sem 3 (MSc) ']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [31]:
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)
a=rf_regressor.fit(X_train, y_train)

In [32]:
y_pred = a.predict(X_test)
y_pred[:5]

array([7.4353, 8.7121, 7.3564, 7.5783, 8.8739])

In [33]:
from sklearn.metrics import mean_squared_error, r2_score

In [34]:
mse= mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(r2)

0.8215129749505373

In [35]:
import pickle

In [36]:
with open('model.pkl', 'wb') as f:
    pickle.dump(a, f)